*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}
body{
  background:#dcdcdc;
}

.app-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mobile-frame{
  width:375px;
  height:680px;
  background:#fff;
  border-radius:20px;
  padding: 28px 22px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}